/*** General ***/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.ttf") format("truetype");
  font-family: "Shrikhand";
  src: url("../font/Shrikhand.ttf") format("truetype");
}

:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --lightgray: #f2f2f2;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* LOADER */

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  align-items: center;
  justify-content: center;
   animation: loader 1000ms ease-in-out forwards 2000ms;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
     z-index: 100; 
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.box ul {
  display: flex;
  list-style-type: none;
  font-size: 40px;
  color: var(--secondaire);
  font-family: "Shrikhand";
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 15px;
}

.box li {
  animation: flash 1s linear infinite;
}
.box ul::after {
  content: "";
   width: 50px;
   height: 50px;
   margin-top: 150px;
   position: absolute;
   border-top: 3px solid var(--primaire);
   border-radius: 50%;
   animation: spin 1s linear infinite ;
   
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    /* text-shadow: none; */
    color: var(--secondaire);
  }

  50% {
    text-shadow: none;
    color: var(--tertiaire);
  }

  100% {
    color: var(--secondaire);
     /* text-shadow: 0 0 7px #9356dc, 0 0 8px #9356dc;  */
  }
}

.loader ul li:nth-child(1) {
  animation-delay: 0.1s;
}

.box li:nth-child(2) {
  animation-delay: 0.2s;
}
.box li:nth-child(3) {
  animation-delay: 0.3s;
}
.box li:nth-child(4) {
  animation-delay: 0.4s;
}
.box li:nth-child(5) {
  animation-delay: 0.5s;
}
.box li:nth-child(6) {
  animation-delay: 0.6s;
}

.box li:nth-child(7) {
  animation-delay: 0.7s;
}
.box li:nth-child(8) {
  animation-delay: 0.8s;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

header p {
  padding: 15px;
}
/* Template */
.header-direction {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 25px 0px;
}
.header-direction a {
  width: 50%;
}
.header-direction i {
  font-size: 20px;
}

.header-direction span {
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

/* LOCATION */

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  font-size: large;
  font-weight: 100;
  gap: 18px;
  height: 60px;
  box-shadow: inset 0px 8px 6px -6px rgb(0 0 0/24%);
}

.location .fa-location-dot {
  opacity: 0.7;
}

.location h4 {
  font-weight: 500;
}

/* PRESENTATION */

.presentation {
  background-color: #fafafa;
  text-align: center;
  padding: 20px 15px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-presentation {
  font-weight: 200;
  opacity: 0.7;
}

.bth {
  padding: 15px 25px;
  color: white;
  font-size: 1.1rem;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 6px 15px #f2f2f2;
  transform: scale(1);
}

.bth:hover {
  box-shadow: 0 4px 15px #f2f2f2;
  top: 2px;
  transition-property: transform;
  transform: scale(1.05);
  transition-duration: 200ms;
}

.bth:active {
  box-shadow: 0 0 15px #f2f2f2;
  top: 6px;
  transform: scale(1);
}

/* FONCTIONEMENT */

.option {
  display: flex;
  flex-direction: column;
  padding: 30px 10px 15px 12px;
  gap: 10px;
  margin-bottom: 20px;
}
.option h1 {
  margin-left: 15px;
  font-family: 'Roboto',sans-serif;
  
  font-size: 25px;
}
.option-step {
  gap: 40px;
  padding-right: 10px;
}

.option-step li {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  padding: 19px 5px;
  margin-left: 30px;
  margin-bottom: 15px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 19px -3px rgb(0 0 0 /50%);
}

.option-step li > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.option-step li i {
  color: #7e7e7e;
  margin-left: -10px;
}

.option-step li:hover {
  background-color: rgba(146, 86, 220, 0.1647058824);
  cursor: pointer;
}

.option-step li:hover i {
  color: var(--primaire);
  opacity: 1;
}

.option-step span {
  position: relative;
  left: -20px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: var(--primaire);
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
}

/* RESTAURANTS */

.restaurants {
  padding: 25px 19px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.nouveau {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 75px;
  height: 30px;
  background-color: var(--tertiaire);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(50, 148, 109, 0.8);
}

.lists_restaurants {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  height: 250px;
  margin-bottom: 15px;
  position: relative;
}

.card-image {
  object-fit: cover;
  height: 180px;
  width: 100%;
  transition: 500ms;
  position: relative;
}
.card-image:hover {
  transform: scale(1.07);
}


.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* HEART */
.fas {
  font-family: "Font Awesome 6 Free";
  font-size: 1.7rem;
  font-weight: 100;
  color: black;
  animation: heartanimblack 1.2s;
}

input {
  visibility: hidden;
}

input[type="checkbox"]:checked ~ i {
  font-weight: 900;
  background: linear-gradient(
    45deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heartanim 1.5s;
}

input[type="checkbox"]:checked ~ i:hover {
  cursor: pointer;
}

/* HEART ANIMATION GRADIENT */
@keyframes heartanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HEART ANIMATION BLACK*/
@keyframes heartanimblack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: #444444;
  color: #f2f2f2;
  padding: 20px;
  gap: 15px;
}
.footer-title {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}
footer ul li a {
  color: #f2f2f2;
  line-height: 35px;
}

footer ul li {
  list-style: none;
}

footer i {
  margin-right: 5px;
}

footer ul li a:hover {
  text-decoration: underline;
}


/* MAIN IMAGE */

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-presentation {
  margin-top: -50px;
  border-radius: 35px 35px 0px 0px;
  background-color: #f2f2f2;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-name h1 {
  font-family: "Shrikhand";
}



/* MENU */

.menu-head h3::after {
  content: "";
  width: 10%;
  height: 4px;
  display: flex;
  background-color: var(--tertiaire);
  border-radius: 8px;
  margin-top: 5px;
}

.menu-head {
  gap: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Card Menu */

.menu-head {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-head h3 {
  margin-bottom: 15px;
  font-weight: 400;
}

.card-menu {
  border-radius: 10px;
  background-color: #fff;
  margin: 10px 0;
  box-shadow: 13px 14px 13px -6px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  gap: 5px;
  display: flex;
  
}
.card-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  overflow: hidden;
  gap: 1rem;
}

.cards-text p,
.cards-text h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  gap: 4px;
  font-size: 14px;
}
.card-price {
  align-items: flex-end;
  display: flex;
}

.animation {
  display: flex;
  opacity: 0;
  width: 0;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiaire);
  transition: 0.4s;
}

.card-menu:hover .animation {
  width: 5rem;
  opacity: 1;
}

.animation i {
  background-color: #fff;
  color: var(--tertiaire);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.card-menu:hover i {
  animation: rotate 0.4s ease-out 0.1s forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animation Menu */
.menu-entre {
  opacity: 0;
  animation: moving 0.8s forwards;
  animation-delay: 0s;
}
.menu-main {
  opacity: 0;
  animation: moving 0.8s forwards;
  animation-delay: 0.3s;
}

.menu-dessert {
  opacity: 0;
  animation: moving 0.8s forwards;
  animation-delay: 0.6s;
}
 


/* TEMPLATE BUTTON + ANIMATION MOVING */
.recherche {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 30px 0px;
  opacity: 0;
  animation: moving 0.8s forwards;
  animation-delay: 0.9s;
}

@keyframes moving {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1250px) {
  .lists_restaurants {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 15px;
  }

  .main-image {
    height: 400px;
  }

  .restaurants {
    padding: 45px;
  }

  .option-step li {
    margin-left: 0;
    width: 90%;
  }

  .presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .presentation .bth {
    font-weight: bolder;
    font-size: 20px;
  }

  footer {
    flex-direction: column;
    gap: 50px;
  }

  footer .footer-title {
    align-self: center;
    font-size: 40px;
  }
  footer .footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  footer h2 {
    font-size: 35px;
  }
  .option h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 0px; /*attention*/
  }

  .option {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 25px 0px;
    /* padding: 0px 25px; */
  }

  .option-step {
    display: flex;
    padding: 0px 25px;
  }
  .option-step ul li {
    width: 30%;
  }
  .option-step span {
    height: 30px;
    width: 30px;
  }

  @keyframes moving {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  /* TEMPLATE DESKTOP */
  .menu-head {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  .header-direction i {
    position: absolute;
    left: 5%;
    top: 30px;
  }
  .card-menu {
    width: 100%;
  }
}

/* Galaxy Fold */

@media screen and (max-width: 280px) {
  .option-step li {
    width: 80%;
    padding: 10px 5px;
  }
  .option-step {
    margin-top: 19px;
    margin-bottom: 15px;
    gap: 20px;
    padding-right: 0px;
  }
  .presentation {
    gap: 25px;
  }

  .option {
    padding: 10px;
    margin: 0px;
    gap: 15px;
  }
  .option h2 {
    margin-top: 10px;
  }

  .option-step span {
    width: 35px;
  }

  .presentation .bth {
    font-size: small;
  }

  .card {
    height: 150px;
  }

  .card-image {
    height: 90px;
  }

  /* Template */
  .restaurant-name {
    font-size: 14px;
  }

  .box ul {
    font-size: 20px;
  }

  .menu-head {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cards-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/* Tablettes */
@media only screen and (min-width: 820px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .main-image {
    width: 100%;
    height: 450px;
  }

  .restaurants {
    padding: 30px;
  }
  .restaurant-presentation {
    width: 100%;
    padding: 0 25px;
  }
  .presentation {
    gap: 40px;
  }
  .restaurants h2 {
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  .menu-head {
    display: flex;
    justify-content: space-around;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer h2 {
    font-size: 35px;
  }
}
/* IPAD MINI */
@media screen and (min-width: 700px) {
  .restaurants h2 {
    text-align: center;
  }

  .menu-entre {
    width: 100%;
  }
  .menu-dessert {
    width: 100%;
  }

  .menu-main {
    width: 100%;
  }
}
